@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --ease-quart: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans tracking-tight text-neutral-800
}

.headline {
  @apply font-normal tracking-tighter text-4xl/snug sm:text-6xl/20 md:text-7xl/20
}

.heading {
  @apply tracking-tighter text-3xl/snug md:text-4xl/11.5 lg:text-5xl/14
}